@vernont:registry=https://vernont-459722925345.d.codeartifact.eu-north-1.amazonaws.com/npm/vernont-npm/
//vernont-459722925345.d.codeartifact.eu-north-1.amazonaws.com/npm/vernont-npm/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
//vernont-459722925345.d.codeartifact.eu-north-1.amazonaws.com/npm/vernont-npm/:always-auth=true
